<div class="card mt-3">
    <div class="card-header">
        <h3> Réalisation d’un convertisseur Euro / Dollar </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 p-3 bg-primary text-white rounded">
                <small>Insérez le montant que vous souhaitez convertir dans le champ ci-dessus: </small>
                <div class="input-group mb-3 mt-2 col-6">
                    <div class="input-group-text">Montant:</div>
                    <input type="number" id="montant" [(ngModel)]="montant" (input)="convertirDevise()"
                        class="form-control">
                </div>
                <div class="input-group col-6">
                    <div class="input-group-text">Devise: </div>
                    <select id="devise" [(ngModel)]="devise" (change)="convertirDevise()" class="form-control">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <hr class="m-3" />
                <p><strong>
                        {{ montant }} {{ devise }} = {{ montantConverti | number:'1.2-2' }} {{autreDevise}}</strong></p>

            </div>
            <div class="col-6">
                <label class="me-3 ">Taux de change :
                    <span class="badge bg-primary display-right">{{this.tauxChange}}</span>
                </label>
                <hr />
            </div>

            <div class="col-12">
                <hr />
                <h5 class="mb-3">Historique de conversion calculée
                </h5>
                <table class="table table-bordered rounded">
                    <thead>
                        <tr>
                            <th scope="col">Taux réel</th>
                            <th scope="col">Taux saisi</th>
                            <th scope="col">Montant initial</th>
                            <th scope="col">Montant calculé</th>
                            <th scope="col">Devise initiale</th>
                            <th scope="col">Devise calculée</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of conversionHistory">
                            <td>{{ history.tauxReel | number:'1.2-2' }}</td>
                            <td>{{ history.tauxSaisi | number:'1.2-2'}}</td>
                            <td>{{ history.montantInitial }}</td>
                            <td>{{ history.deviseInitiale }}</td>
                            <td>{{ history.montantCalcule | number:'1.2-2' }}</td>
                            <td>{{ history.deviseCalculee }}</td>
                        </tr>
                        <tr *ngIf="conversionHistory.length == 0">
                            <td colspan="6" class="text-center">aucun résultat ...
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>